
/***/

$background: #1B1B1F; /* #0d1117; */
$foreground: #b0b4bc;

$background-alt: #232320;

$black: #000;
$white: rgb(240, 238, 238);

$green: #66cc52;
$lightgreen: #a0fe83;
$yellow: #eeff00;
$lightyellow: #f7ec8e;
$red: #BA1A1A;
$lightred: #FF5449;
$blue: #36a3d9;
$lightblue: #68d4ff;
$magenta: #f07078;
$lightmagenta: #ffa3aa;
$cyan: #95e5cb;
$lightcyan: #c7fffc;
$gray: #928374;
$lightgray: #a89984;

$warning: $yellow;
$error: $red;

$urgent: $red;
