
/***/

$background: #0d1117;
$foreground: #b0b4bc;

$background-alt: #232320;

$black: #000;
$white: #fff;

$green: #b8cc52;
$lightgreen: #e9fe83;
$yellow: #e6c446;
$lightyellow: #fff778;
$red: #ff3333;
$lightred: #ff6565;
$blue: #36a3d9;
$lightblue: #68d4ff;
$magenta: #f07078;
$lightmagenta: #ffa3aa;
$cyan: #95e5cb;
$lightcyan: #c7fffc;
$gray: #928374;
$lightgray: #a89984;

$warning: $yellow;
$error: $red;

$urgent: $red;
