#!/bin/sh

# Misc aliases
alias ls='exa --icons --group-directories-first'
alias lst='ls -T'
alias hg='history | grep'
alias lg='ls -la | grep'
alias src='source ~/.zshrc'
alias cronlog='grep CRON /var/log/syslog'
alias g='git'
alias i3c='vim ~/dotfiles/i3/config'
alias vimc='vim ~/dotfiles/nvim/init.vim'
alias p='sudo pacman'
alias v='lvim'
alias sv='sudo nvim'
alias se='sudoedit'
alias SS='sudo systemctl'
alias cp='cp -iv'
alias ip='ip -c'
#alias gc='gc -S'

# git search 
alias gsearch='f() { git log --all -S"$1" --pretty=format:"%C(yellow)%h %Creset%s%Cblue [%cn] %Cgreen%cr %Cred%d" --decorate | fzf --preview "git show --color {1}" --preview-window=down:50%; }; f'
alias gdd='git diff --word-diff'
alias gcan='git commit --amend --no-edit'
# Browse pacman packages with fzf search
alias psearch="pacman -Qq | fzf --preview 'pacman -Qil {}' --layout=reverse --bind 'enter:execute(pacman -Qil {} | less)'"

alias cemu='vblank_mode=0 mesa_glthread=true R600_DEBUG=nohyperz wine ~/cemu/Cemu.exe'

# Open apps 'swallowed' (without terminal window)
#alias mpv='swallow mpv'
#alias zathura='swallow zathura'
#alias nautilus='swallow nautilus'
#alias kdenlive='swallow kdenlive'
#alias robo3t='swallow robo3t'
#alias sqlitebrowser='swallow sqlitebrowser'

# cat with syntax highlighting
alias ccat="highlight --out-format=ansi --force"

# Download music with youtube-dl
alias music-dl="youtube-dl --add-metadata -f 'bestaudio[ext=m4a]' -o '%(title)s.%(ext)s'"

# Ssh with kitty terminfo available
alias ssh="kitty +kitten ssh"

# Open ranger with xterm for pdf/img preview support
alias ra="xterm -fa 'Fira Code Medium' -fs 14 -bg gray15 -e ranger"

# Shortcuts for howdoi
alias howdoi='python3 -m howdoi.howdoi'
alias hdi='function hdi(){ howdoi $* -c -n 3; }; hdi'

# Django Aliases
alias runserver="python manage.py runserver"
alias makemigrations="python manage.py makemigrations"
alias migrate="python manage.py migrate"
alias migrations="python manage.py makemigrations && python manage.py migrate"
alias mtest="python manage.py test"

# Yarn aliases
alias serve="yarn serve"
alias ystart="yarn start"
alias ybuild="yarn build"
alias ydev="yarn dev"

# Cd aliases
alias dev="cd ~/projects"
alias projects="dev"
alias apps="cd /usr/share/applications"

# Alias vi and vim to neovim
[ -x "$(command -v nvim)" ] && alias vi=nvim && alias vim=nvim
alias h="helix"
alias aoemaps="cd $HOME/.steam/steam/steamapps/common/Age2HD/resources_common/drs/gamedata_x2"
