# Misc aliases
alias hg='history | grep'
alias src="source ~/.zshrc"

# Python aliases
alias notebook="python3.7 -m notebook"

# Django Aliases
alias runserver="python manage.py runserver"
alias makemigrations="python manage.py makemigrations"
alias migrate="python manage.py migrate"
alias migrations="python manage.py makemigrations && python manage.py migrate"
alias mtest="python manage.py test"

# Npm aliases
alias serve="npm run serve"

# Cd aliases
alias dev="cd ~/projects"
alias projects="dev"
alias apps="cd /usr/share/applications"