# Misc aliases
alias hg='history | grep' && alias gh=hg
alias src="source ~/.zshrc"
alias cronlog="grep CRON /var/log/syslog"

# github-cli alias to git
alias git="hub"

# Open ranger with xterm for pdf/img preview support
alias ra="xterm -fa 'Fira Code Medium' -fs 14 -bg gray15 -e ranger"

# Shortcuts for howdoi
alias howdoi='python3 -m howdoi.howdoi'
alias hdi='function hdi(){ howdoi $* -c -n 3; }; hdi'

# Django Aliases
alias runserver="python manage.py runserver"
alias makemigrations="python manage.py makemigrations"
alias migrate="python manage.py migrate"
alias migrations="python manage.py makemigrations && python manage.py migrate"
alias mtest="python manage.py test"

# Yarn aliases
alias serve="yarn serve"
alias ystart="yarn start"
alias ybuild="yarn build"
alias ydev="yarn dev"

# Cd aliases
alias dev="cd ~/projects"
alias projects="dev"
alias apps="cd /usr/share/applications"

# Alias vi and vim to neovim
[ -x "$(command -v nvim)" ] && alias vi=nvim && alias vim=nvim

alias aoemaps="cd /home/$USER/.steam/steam/steamapps/common/Age2HD/resources_common/drs/gamedata_x2"
