Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*background:                      #192230
*foreground:                      #afc0d5
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0: #000000
*color8: #323232

!! red dark/light
*color1: #ff3333
*color9: #ff6565

!! green dark/light
*color2: #b8cc52
*color10: #e9fe83

!! yellow dark/light
*color3: #e6c446
*color11: #fff778

!! blue dark/light
*color4: #36a3d9
*color12: #68d4ff

!! magenta dark/light
*color5: #f07078
*color13: #ffa3aa

!! cyan dark/light
*color6: #95e5cb
*color14: #c7fffc

!! white dark/light
*color7: #ffffff
*color15: #ffffff

!! Background contrast (light)
*backgroundContrastLight: #354b5e

!! Background contrast (light)
*backgroundContrastDark: #243340

!! Disabled text
*disabledText: #707070

!! Error color
*errorColor: #c90825

Xcursor.theme: xcursor-breeze
Xcursor.size: 0
