* {
  accent:           #26c6da;
  background:       #192330;
  background-light: #27333d;
  foreground:       #bdbdbd;
  on:               #66bb6a;
  off:              #ef5350;
  background-alt: #282B31FF;
  selected:       #61AFEFFF;
  active:         #98C379FF;
  urgent:         #E06C75FF;
}
